$yellow : #FEF6C9;
$turquoise: #6C969D;
$seafoam: #99D5C9;
$purple: #BF9ACA;
$grey: #878E88;

.jumbotron {
  text-align: center;
  background-color: $grey;
  h1 {
    color: $purple;
  }
}

.btn-default {
  background-color: $grey;
  color: $seafoam;
  float: right;
}

.list-group-item {
  background-color: $seafoam;
}

body {
  background-color: $yellow;
}

h1 {
  color: $turquoise;
}

.form-control {
  background-color: $seafoam;
  color: $yellow;
  margin-bottom: 10px;
}

.editable {
  color: $purple;
}
